@import '@styles/shared.scss';

.header {
  background: linear-gradient(142deg, #471ca9 0%, #5736a3 69.1%, #4b2a99 100%);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 120px;
    padding: 24px 0;
    font-weight: 500;
    line-height: 1;
    border-radius: 6px;
    transition:
      transform 250ms $timing-function,
      background-color 250ms $timing-function;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 4px;
      background-color: $green;
      border-radius: 6px;
      transform: scaleX(0);
      transition: transform 250ms $timing-function;
    }

    &.active {
      color: $green;
      cursor: default;
    }

    &.active.header__link::after {
      transform: scaleX(1);
    }

    &:hover:not(.active) {
      &::after {
        transform: scaleX(1);
      }
    }
  }

  &__dropdown {
    position: relative;
  }

  &__filter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    color: $purple;
    background-color: $light-pink;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 250ms $timing-function;

    &:hover {
      background-color: $green;
    }
  }
}
